<div align="center">
  <% if @movies != nil %>
    <h1>List of Movies</h1>
    <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="movie-prev">
            <h3 class="title"> <%= movie.title.truncate(20) %></h3>
            <p>
              <%= link_to image_tag(movie.image.url(:medium)), movie %>
              <div class="star-rating-show" data-number=<%= movie.reviews.average(:rating) %> ></div>
            </p>
            <p>
              <label>Run Time: </label>
              <%= movie.duration %>
            </p>
            <p>
              <label>Director: </label>
              <%= movie.director %>
            </p>
            <p><%= link_to (movie.reviews.length > 0) ? " Review  #{movie.reviews.length}" : " No Review", movie, :class => "form-control btn btn-info fa fa-comment-o" %></p>
            <% if current_user %>
              <p><%= link_to 'Edit', edit_movie_path(movie), :class => "form-control btn btn-info" %></p>
              <p><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => " form-control btn btn-warning" %></p>
            <% end %>
          </div>
        </div>
    <% end %>
    
    <!-- pagination -->
    <div class="paginate-wrapper">
      <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
    </div>

  <% else %>
    <h1> No Movies...</h1>
    <h2> search does not match any movie title or director...</h2>
  <% end %>
</div>