<div align="center">
  <h1>Movies</h1>
  <% @movies.order(:created_at).reverse.each do |movie| %>
      <div class="col-md-4">
        <div class="movie-prev">
          <h3 class="title"> <%= movie.title.truncate(20) %></h3>
          <p>
            <%= link_to image_tag(movie.image.url(:medium)), movie %>
            <div class="star-rating" data-number=<%= movie.reviews.average(:rating) %> ></div>
          </p>
          <p>
            <label>Run Time: </label>
            <%= movie.duration %>
          </p>
          <p>
            <label>Director: </label>
            <%= movie.director %>
          </p>
          <p>
            <%= link_to (movie.reviews.length > 0) ? "Reviews  #{movie.reviews.length}" : "No Review", movie, :class => "btn btn-info" %>
            <% if current_user %>
              <%= link_to 'Edit', edit_movie_path(movie), :class => "btn btn-primary" %>
              <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
            <% end %>
          </p>
        </div>
      </div>
  <% end %>
  <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function ( ) {
      return $(this).attr('data-number');
    }
  })
</script>