<div align="center">
  <h1>List of Movies</h1>
  <% @movies.each do |movie| %>
      <div class="col-md-4">
        <div class="movie-prev">
          <h3 class="title"> <%= movie.title.truncate(20) %></h3>
          <p>
            <%= link_to image_tag(movie.image.url(:medium)), movie %>
            <div class="star-rating" data-number=<%= movie.reviews.average(:rating) %> ></div>
          </p>
          <p>
            <label>Run Time: </label>
            <%= movie.duration %>
          </p>
          <p>
            <label>Director: </label>
            <%= movie.director %>
          </p>
          <p><%= link_to (movie.reviews.length > 0) ? "Review  #{movie.reviews.length}" : "No Review", movie, :class => "form-control btn btn-info" %></p>
          <% if current_user %>
            <p><%= link_to 'Edit', edit_movie_path(movie), :class => "form-control btn btn-info" %></p>
            <p><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => " form-control btn btn-warning" %></p>
          <% end %>
        </div>
      </div>
  <% end %>
  <div class="movie-wrapper">
  <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function ( ) {
      return $(this).attr('data-number');
    }
  })
</script>