<%= form_for([@movie, @movie.reviews.new]) do |f| %>
  
  <div ><%= image_tag current_user.avatar.url(:thumb2) %></div>

  <div>
    <div id="star-rating-form" > </div>
  </div>

  
  <div class="form-group">
    <%= f.label 'What I think' %><br>
    <%= f.text_area :comment, :class =>"form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit :class =>"btn btn-primary"  %>
  </div>
<% end %>

<script>
  // $('#star-rating').raty( {
  //   path: '/assets/',
  //   scoreName: 'review[rating]'
  // })
</script>
